<div class="card outer-container">
    <div class="inner-container">
        <h4>Registration</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="displayName">Display Name</label><br/>
                <input [class.input-error]="isDisplayNameNotValid" id="displayName"
                       formControlName="displayName"/>
                @if (isDisplayNameNotValid) {
                    <p class="error">
                        {{ displayNameErrorMessage }}
                    </p>
                }
            </div>

            <div>
                <label for="email">Email</label><br/>
                <input [class.input-error]="isEmailNotValid" id="email"
                       formControlName="email"
                       type="email"/>
                @if (isEmailNotValid) {
                    <p class="error">{{ emailErrorMessage }}</p>
                }
            </div>
            <div formGroupName="passwords">
                <div>
                    <label for="password">Password</label><br/>
                    <input [class.input-error]="isPasswordsNotValid"
                           id="password"
                           formControlName="password"
                           type="password"
                           placeholder="******"/>
                    @if (isPasswordsNotValid) {
                        <p class="error">{{ passwordErrorMessage }}</p>
                    }
                </div>
                <div>
                    <label for="rePassword">Confirm Password</label><br/>
                    <input
                            id="rePassword"
                            formControlName="rePassword"
                            type="password"
                            placeholder="******"/>
                    @if (isPasswordsNotValid) {
                        <p class="error">{{ rePasswordErrorMessage }}</p>
                    }
                </div>

                @if(isPasswordsMismatch) {
                    <p class="error" > {{ passwordsMismatchErrorMessage }}</p>
                }
            </div>

            <button type="submit" [disabled]="registerForm.invalid">
                Create Account
            </button>

        </form>
    </div>
</div>

