
/** {*/
/*    border: 1px solid red;*/
/*}*/

.page {
    max-width: 50em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.container {
    border: none;
    background-color: var(--bg-primary);
    padding: 0;
}

a, .btn {
    display: block;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}