/** {*/
/*    border: 1px solid red;*/
/*}*/

.destination-board {
    max-width: 50em;
    margin: 0 auto;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.destination-board > * {
    flex: 1 1 0;
}